[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
watchfiles = "*"
boto3 = "*"
easygui = "*"
pydantic = ">=2"
typer = "*"
django = "*"
django-extensions = "*"
django-rest-framework = "*"
django-cors-headers = "*"

[dev-packages]
black = {version = "*", extras = ["d"]}
ruff = "*"
jupyterlab = "*"
ipython = "*"
rich = {version = "*", extras = ["juypter"]}

[requires]
python_version = "3.10"
